<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.SysProjectMapper">
    
    <resultMap type="com.ruoyi.project.SysProject" id="SysProjectResult">
        <id     property="projectId"      column="project_id"      />
        <result property="projectName"    column="project_name"    />
        <result property="projectCode"    column="project_code"    />
        <result property="description"    column="description"     />
        <result property="status"         column="status"          />
        <result property="createBy"       column="create_by"       />
        <result property="createTime"     column="create_time"     />
        <result property="updateBy"       column="update_by"       />
        <result property="updateTime"     column="update_time"     />
        <result property="remark"         column="remark"          />
    </resultMap>

    <sql id="selectProjectVo">
        select p.project_id, p.project_name, p.project_code, p.description, p.status, p.create_by, p.create_time, p.update_by, p.update_time, p.remark
        from sys_project p
    </sql>

    <select id="selectProjectList" parameterType="com.ruoyi.project.SysProject" resultMap="SysProjectResult">
        <include refid="selectProjectVo"/>
        <where>
            <if test="projectName != null and projectName != ''">
                AND p.project_name like concat('%', #{projectName}, '%')
            </if>
            <if test="projectCode != null and projectCode != ''">
                AND p.project_code = #{projectCode}
            </if>
            <if test="status != null and status != ''">
                AND p.status = #{status}
            </if>
        </where>
    </select>
    
    <select id="selectProjectById" parameterType="Long" resultMap="SysProjectResult">
        <include refid="selectProjectVo"/>
        where p.project_id = #{projectId}
    </select>
        
    <insert id="insertProject" parameterType="com.ruoyi.project.SysProject" useGeneratedKeys="true" keyProperty="projectId">
        insert into sys_project(
            <if test="projectName != null and projectName != ''">
                project_name,
            </if>
            <if test="projectCode != null and projectCode != ''">
                project_code,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
            <if test="status != null and status != ''">
                status,
            </if>
            <if test="remark != null and remark != ''">
                remark,
            </if>
            <if test="createBy != null and createBy != ''">
                create_by,
            </if>
            create_time
        )values(
            <if test="projectName != null and projectName != ''">
                #{projectName},
            </if>
            <if test="projectCode != null and projectCode != ''">
                #{projectCode},
            </if>
            <if test="description != null and description != ''">
                #{description},
            </if>
            <if test="status != null and status != ''">
                #{status},
            </if>
            <if test="remark != null and remark != ''">
                #{remark},
            </if>
            <if test="createBy != null and createBy != ''">
                #{createBy},
            </if>
            sysdate()
        )
    </insert>

    <update id="updateProject" parameterType="com.ruoyi.project.SysProject">
        update sys_project
        <set>
            <if test="projectName != null and projectName != ''">
                project_name = #{projectName},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time = sysdate()
        </set>
        where project_id = #{projectId}
    </update>

    <delete id="deleteProjectById" parameterType="Long">
        delete from sys_project where project_id = #{projectId}
    </delete>

    <delete id="deleteProjectByIds" parameterType="Long">
        delete from sys_project where project_id in 
        <foreach collection="array" item="projectId" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>
    
</mapper>