<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.SysDeviceBorrowMapper">
    
    <resultMap type="SysDeviceBorrow" id="SysDeviceBorrowResult">
        <result property="borrowId"    column="borrow_id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="deviceCode"    column="device_code"    />
        <result property="borrower"    column="borrower"    />
        <result property="borrowTime"    column="borrow_time"    />
        <result property="expectedReturnTime"    column="expected_return_time"    />
        <result property="actualReturnTime"    column="actual_return_time"    />
        <result property="borrowStatus"    column="borrow_status"    />
        <result property="borrowPurpose"    column="borrow_purpose"    />
        <result property="approver"    column="approver"    />
        <result property="approveTime"    column="approve_time"    />
        <result property="approveRemark"    column="approve_remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysDeviceBorrowVo">
        select borrow_id, sys_device_borrow.device_id, device_code, borrower, borrow_time, expected_return_time, actual_return_time, sys_device_borrow.borrow_status, borrow_purpose, approver, approve_time, approve_remark, sys_device.create_by, sys_device.create_time, sys_device.update_by, sys_device.update_time, sys_device.remark from sys_device_borrow 
        left join sys_device on sys_device.device_id = sys_device_borrow.device_id
    </sql>

    <select id="selectSysDeviceBorrowList" parameterType="SysDeviceBorrow" resultMap="SysDeviceBorrowResult">
        <include refid="selectSysDeviceBorrowVo"/>
        <where>  
            <if test="deviceId != null "> and sys_device_borrow.device_id = #{deviceId}</if>
            <if test="deviceCode != null "> and device_code = #{deviceCode}</if>
            <if test="borrower != null  and borrower != ''"> and borrower = #{borrower}</if>
            <if test="borrowTime != null "> and borrow_time = #{borrowTime}</if>
            <if test="expectedReturnTime != null "> and expected_return_time = #{expectedReturnTime}</if>
            <if test="actualReturnTime != null "> and actual_return_time = #{actualReturnTime}</if>
            <if test="borrowStatus != null  and borrowStatus != ''"> and sys_device_borrow.borrow_status = #{borrowStatus}</if>
            <if test="borrowPurpose != null  and borrowPurpose != ''"> and borrow_purpose = #{borrowPurpose}</if>
            <if test="approver != null  and approver != ''"> and approver = #{approver}</if>
            <if test="approveTime != null "> and approve_time = #{approveTime}</if>
        </where>
    </select>
    
    <select id="selectSysDeviceBorrowById" parameterType="Long" resultMap="SysDeviceBorrowResult">
        <include refid="selectSysDeviceBorrowVo"/>
        where borrow_id = #{borrowId}
    </select>

    <select id="selectCurrentBorrowByDeviceId" parameterType="Long" resultMap="SysDeviceBorrowResult">
        <include refid="selectSysDeviceBorrowVo"/>
        where sys_device_borrow.device_id = #{deviceId} and sys_device_borrow.borrow_status in ('0','1','4','5')
        limit 1
    </select>

    <update id="updateBorrowStatusToOverdue" parameterType="Long">
        update sys_device_borrow b
        inner join sys_device d on b.device_id = d.device_id
        set b.borrow_status = '5',
            b.update_time = sysdate(),
            b.update_by = 'system',
            d.device_status = '5',
            d.update_time = sysdate(),
            d.update_by = 'system'
        where b.borrow_id = #{borrowId}
        and b.actual_return_time > b.expected_return_time
        and b.borrow_status in ('0', '1', '4')
    </update>
        
    <insert id="insertSysDeviceBorrow" parameterType="SysDeviceBorrow" useGeneratedKeys="true" keyProperty="borrowId">
        insert into sys_device_borrow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="borrower != null">borrower,</if>
            <if test="borrowTime != null">borrow_time,</if>
            <if test="expectedReturnTime != null">expected_return_time,</if>
            <if test="actualReturnTime != null">actual_return_time,</if>
            <if test="borrowStatus != null">borrow_status,</if>
            <if test="borrowPurpose != null">borrow_purpose,</if>
            <if test="approver != null">approver,</if>
            <if test="approveTime != null">approve_time,</if>
            <if test="approveRemark != null">approve_remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="borrower != null">#{borrower},</if>
            <if test="borrowTime != null">#{borrowTime},</if>
            <if test="expectedReturnTime != null">#{expectedReturnTime},</if>
            <if test="actualReturnTime != null">#{actualReturnTime},</if>
            <if test="borrowStatus != null">#{borrowStatus},</if>
            <if test="borrowPurpose != null">#{borrowPurpose},</if>
            <if test="approver != null">#{approver},</if>
            <if test="approveTime != null">#{approveTime},</if>
            <if test="approveRemark != null">#{approveRemark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysDeviceBorrow" parameterType="SysDeviceBorrow">
        update sys_device_borrow b
        inner join sys_device d on b.device_id = d.device_id
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">b.device_id = #{deviceId},</if>
            <if test="borrower != null">b.borrower = #{borrower},</if>
            <if test="borrowTime != null">b.borrow_time = #{borrowTime},</if>
            <if test="expectedReturnTime != null">b.expected_return_time = #{expectedReturnTime},</if>
            <if test="actualReturnTime != null">b.actual_return_time = #{actualReturnTime},</if>
            <if test="borrowStatus != null">
                b.borrow_status = #{borrowStatus},
                d.device_status = 
                    CASE #{borrowStatus}
                        WHEN '0' THEN '2' /* 待审批时设备状态为待借出 */
                        WHEN '1' THEN '3' /* 已批准时设备状态为已借出 */
                        WHEN '2' THEN '1' /* 已拒绝时设备状态为正常 */
                        WHEN '3' THEN '1' /* 已归还时设备状态为正常 */
                        WHEN '4' THEN '3' /* 借用中时设备状态为已借出 */
                        WHEN '5' THEN '5' /* 逾期时设备状态为逾期 */
                        ELSE d.device_status
                    END,
            </if>
            <if test="borrowPurpose != null">b.borrow_purpose = #{borrowPurpose},</if>
            <if test="approver != null">b.approver = #{approver},</if>
            <if test="approveTime != null">b.approve_time = #{approveTime},</if>
            <if test="approveRemark != null">b.approve_remark = #{approveRemark},</if>
            <if test="updateBy != null">
                b.update_by = #{updateBy},
                d.update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                b.update_time = #{updateTime},
                d.update_time = #{updateTime},
            </if>
            <if test="remark != null">b.remark = #{remark},</if>
        </trim>
        where b.borrow_id = #{borrowId}
    </update>

    <delete id="deleteSysDeviceBorrowById" parameterType="Long">
        delete from sys_device_borrow where borrow_id = #{borrowId}
    </delete>

    <delete id="deleteSysDeviceBorrowByIds" parameterType="String">
        delete from sys_device_borrow where borrow_id in 
        <foreach item="borrowId" collection="array" open="(" separator="," close=")">
            #{borrowId}
        </foreach>
    </delete>
</mapper>