// base color
$blue: #1976D2;
$light-blue: #2196F3;
$red: #F44336;
$pink: #E91E63;
$green: #4CAF50;
$tiffany: #009688;
$yellow: #FFC107;
$panGreen: #4CAF50;

// Material Design菜单主题
$base-menu-color: #757575;
$base-menu-color-active: #212121;
$base-menu-background: #FFFFFF;
$base-logo-title-color: #212121;

$base-menu-light-color: rgba(33, 33, 33, 0.7);
$base-menu-light-background: #FAFAFA;
$base-logo-light-title-color: #212121;

$base-sub-menu-background: #F5F5F5;
$base-sub-menu-hover: #E0E0E0;

$base-sidebar-width: 200px;

:export {
  menuColor: $base-menu-color;
  menuLightColor: $base-menu-light-color;
  menuColorActive: $base-menu-color-active;
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  logoLightTitleColor: $base-logo-light-title-color
}
